.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
venv
.vscode
.idea
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
config.yaml
*.db
data/
docker-compose.example.yml
.github
README.md

!config.example.yaml
!requirements.txt